.bg {
    background: rgba(47, 51, 59, 0.6);
}

.box {
	background-color: #474D59;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
}

.profilepic-username {
    margin-top: 12px;
}

// controls padding between numbers in calendar
.calendar {
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
}

.datetime-clock {
    font-size: 60px;
    margin-left: 10px;
}

.datetime-date {
    margin-left: 10px;
    margin-bottom: 10px;
}

.network {
    margin-left: 20px;
}

.network-icon {
    font-size: 42px;
    font-family: 'Iosevka Nerd Font';
}

.sysbars scale trough highlight {
	all: unset;
    background-color: #bfc9db;
	border-radius: 24px;
}

scale trough {
	all: unset;
	background-color: #232232;
	border-radius: 24px;
	min-height: 120px;
	min-width: 14px;
	margin : 20px;
}

.sysbars-icon {
    font-family: 'Iosevka Nerd Font';
}

.tray {
  background-color: rgba(109, 111, 115, 0.6);
  font-family: 'Iosevka Nerd Font';
}
